*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    position: relative;
    height: 80px;
    left: 0px;
    top: 0px;
    height: 80px;
    z-index: 1;
    justify-content: space-between;
}
#current-nav > a{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #FEFCFC;
    border-radius: 5px;
}
.sticky{
    height: 80px;
    width: 100%;
    position: fixed;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}
.navbar ul li{
    display:flex ;
    list-style: none;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar a{
    width: 90px;
    height: 32px;
    top: 33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #F5F5F5;
    text-decoration: none;
}
.navbar a:hover{
    cursor: pointer;
    color: rgb(196, 190, 190);
}
#logo > img{
    height: 70px;
}
.toggle-switch{
    margin-top: 90px;
    margin-left:  auto;
    padding-right: 60px;
}
.toggle-switch button{
    position: fixed;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #15202b;
    z-index: 1;
}
.toggle-switch button:hover{
    cursor: pointer;
}
.fa-moon{
    color: #fce683;
    font-size: 20px;
}
.fa-sun{
    color: #999999;
    font-size: 20px;
}
.light-mode{
    background-color:#333;
}
footer{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
#follow{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    border-bottom: 5px solid #008B8B;
}
#follow h5{
    align-self: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #07BEBE;
    padding-bottom: 30px;
    padding-top: 20px;
}
#links{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;  
}
.social-media-link{
    font-size: 30px;
    color: #333;
}
.social-media-link {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}
.social-media-link:hover{
    transform: scale(1.05);
}
#float-container{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}
#float-left{
    margin-left: 10%;
    margin-top: 10vh;
    padding-bottom: 20px;
}
#float-left input{
    background: #F5F5F5;
    height: 25px;
    margin-top: 15px;
    border: 2px solid #F5F5F5;
    padding-left: 5px;
    border-radius: 5px;  
}
#float-left input:focus,
#float-left button{
    outline: none;
}
#float-left button{
    background-color:  #008B8B;
    color: white;
    margin-left: 5px;
    width: 100px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
}
#float-left i,
.twitter-icon{
    padding-left: 10px;
}
.twitter-icon{
    font-size: 42px;
}
#float-left > h5{
    color:  #07BEBE;
    font-size: 20px;
}
#float-right{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-size: 16px;
    color: white;
    margin-left: auto;
}
#privacy{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 20px;
}
#privacy a{
    display: inline-block;
    list-style: none;
    font-size:  15px;
    margin: 20px;
    text-decoration: none;
    color: white; 
}
#privacy a:hover{
    text-decoration: underline;
}
#copyright{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 20px;
    font-size:  15px;
    padding-bottom: 20px;
}

/*======================================
style dark mode
====================================
*/
.dark-mode{
    background: #15202b;
}
.light-mode.dark-mode{
    background:#15202b ;
}
.dark-mode body{
    background: #15202b;
}
.dark-mode footer{
    border-top: 2px solid #DF502A;
}
.dark-mode header{
    border-bottom: 2px solid #DF502A;
}

/*======================================
customize responsiveness
========================================
*/
@media screen and (min-width: 671px){
    .span{
        display: none;
    }
    .navbar{
        display: flex;
    }
}
@media screen and (max-width: 670px){
    .navbar{
        display: none;
    }
    .dark-mode .dropdown{
        background: #243447;
        border-top: unset;
    }
    .dropdown{
        border-top: 2px solid #008B8B;
        position: fixed;
        background: rgba(51, 51, 51);
        height: 320px;
        width: 100%;
        margin-top: 80px;
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown ul{
        line-height: 30px;
        display:block;
        list-style: none;
        color: #FAF4F4;
    }
    .dropdown ul > li + li {
        margin-left: 0;
        border-top: 1px solid #27447E;
    }
    .dropdown a{
        text-decoration: none;
        margin-left: 30px;
        line-height: 26px;
    }
    .dropdown #current-nav > a{
        box-shadow: 0 0;
        text-align: left;
        color:#28B9AF;
    }    
    .span,
    .fa-bars,
    .fa-times{
        align-self: center;
        margin-right: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #FAF4F4;
    }
    .fa-bars:hover,
    .fa-times:hover{
        cursor: pointer;
    }
    #float-container{
        flex-direction: column;
        -ms-flex-direction: column;
        width: 100%;
    }
    #float-left,
    #float-right{
        margin: auto;
    }
}