/*............................................
header and footer styles are found in helper.css
*/

body{
    background: #FFFFFF;
}
main{
    height: 100vh;
}
#login-form-container{
    background: white;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    height: 75%;
    margin-top: 5vh;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px #333333;
}
#login-form{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
}
#login-form div{
    position: relative;
}
#login-form i{
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 15px;
    color: #27447e;
}
#login-form p{
    font-size: 20px;
    text-transform: uppercase;
    color:#27447e;
    padding-bottom: 50px;
}
#password-reset{
    padding-top: 50px;
}
#login-form input:not([type='checkbox']){
    height: 30px;
    width: 100%;
    padding-left: 25px;  
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #27447e;
    margin: 10px 0;
    font-size: 15px;
}
#login-form input:focus{
    outline: none;
}
#password-reset a{
    text-decoration: none;
    color: #27447e;
    padding-left: 50px;
}
#login-form button{
    background: #27447E;
    margin-top: 50px;
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius:15px;
    border: none;
}
#login-form button:hover,
#login-form button:focus{
    cursor: pointer;
    outline: none;
    background-color: darkcyan;
    border: 1px solid #f5f5ff;
}
#imag-wrapper{
    padding-top: 50px;
}
#imag-wrapper > img{
    width: 200px;
    padding-left: 20px;
    margin-left: -30px;
    margin-top: 35%;
}
#imag-wrapper p{
    padding-top: 60px;
    font-size: 20px;
}
#imag-wrapper a{
    text-decoration: none;
    color: #27447e;
    padding-left: 5px;
}
#login-form a:hover,
#imag-wrapper a:hover{
    text-decoration: underline;
}

/*..........................
customize responsiveness
*/
@media screen and (max-width: 1085px){
    #login-form-container{
        height: 80%;
    }
}
@media screen and (max-width:1013px){
    #imag-wrapper > img{
        display: none;
    }
    #login-form {
        margin-right: 20%;
        margin-left: 40px;
        padding: 0;
        padding-top: 1vh;
    }
    #login-form-container{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        margin-top: 3vh;
        margin-left: 20%;
        margin-right: 20%;
        height: 90%;
    }
    #imag-wrapper p{
        padding-bottom: 100px;
        text-align: center;
    }
    #login-form p{
        padding-bottom: 10px;
    }
    #imag-wrapper{
        padding-top:0;
    }
}

@media screen and (max-width:853px){
    #imag-wrapper > img{
        display: none;
    }
    #login-form {
        margin-right: 20%;
        margin-left: 40px;
    }
    #login-form button{
        margin-top: 50px;
        height: 40px;
        margin-bottom: 20px;
        width: 300px;
        align-self: center;
    }
    #login-form-container{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
        height: 90%;
    }
    #imag-wrapper p{
        padding-bottom: 100px;
        margin-left: 40px;
    }
    #login-form p{
        padding-bottom: 10px;
    }
}
@media screen and (max-width:671px){
    #imag-wrapper > img{
        display: none;
    }
    #login-form {
        margin-right: 10%;
        margin-left: 20px;
    }
    #login-form-container{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        height: 90%;
    }
    #login-form{
        padding-bottom: 5px;
    }
    #login-form button{
        margin-top: 40px;
        margin-bottom: 20px;
        height: 40px;
    }
    #imag-wrapper p{
        padding-bottom: 150px;
        margin-left: 10px;
    }
    #login-form p{
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 366px){
    #login-form button{
        margin-top: 40px;
        margin-bottom: 20px;
        height: 40px;
        width: 200px;
    }
}
@media screen and (max-width: 272px){
    #login-form p{
        padding-top: 30px;
        font-size: 15px;
    }
    #login-form button{
        margin-top: 40px;
        margin-bottom: 20px;
        height: 30px;
        width: 150px;
    }
}
@media screen and (max-width: 178px){
    #login-form-container{
        height: 80%;
        width: 250px;
    }
    #login-form button{
        margin-top: 40px;
        margin-bottom: 20px;
        height: 30px;
        width: 100px;
    }
    #imag-wrapper p{
        margin-bottom: 30px;
        font-size: 15px;
    }
    #login-form p{
        margin-top: 10px;
    }
}
