/*............................................
header and footer styles are found in helper.css
*/

body{
    background: #FFFFFF;
}
main{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#login-form-container{
    background: white;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;
    height:550px;
    width: 100%;
    border-radius: 15px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 2px #15202b;
}
#login-form{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 20px;
}
#login-form div{
    position: relative;
}
#login-form i{
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 15px;
    color: #27447e;
}
#login-form p{
    font-size: 30px;
    text-transform: uppercase;
    color:#27447e;
    padding-bottom: 50px;
    padding-top: 10px;
}
#password-reset{
    padding-top: 50px;
}
#login-form input:not([type='checkbox']){
    height: 40px;
    width:  450px;
    padding-left: 25px;  
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #27447e;
    margin: 10px 0;
    font-size: 17px;
}
#login-form input:focus{
    outline: none;
}
#password-reset{
    font-size: 20px;
}
#password-reset a{
    text-decoration: none;
    color: #27447e;
    padding-left: 50px;
}
#login-form button{
    background: #27447E;
    margin-top: 80px;
    height: 50px;
    font-size: 20px;
    width: 300px;
    color: #FFFFFF;
    border-radius:15px;
    border: none;
}
#login-form button:hover,
#login-form button:focus{
    cursor: pointer;
    outline: none;
    background-color: darkcyan;
    border: 1px solid #f5f5ff;
}
#imag-wrapper{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-bottom: 40px;
}
#imag-wrapper img{
    width: 200px;
    padding-left: 20px;
    margin-top: 20%;
}
#imag-wrapper p{
    font-size: 25px;
    padding-bottom: 70px;
    padding-right: 10px;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}
#imag-wrapper a{
    text-decoration: none;
    color: #27447e;
    padding-left: 5px;
}
#login-form a:hover,
#imag-wrapper a:hover{
    text-decoration: underline;
}

/*======================================
Style dark mode
========================================
*/
.dark-mode #login-form-container{
    background: #243447;
}
.dark-mode #login-form p,
.dark-mode #password-reset a,
.dark-mode #imag-wrapper a,
.dark-mode #login-form i{
    color: #008B8B;
}
.dark-mode #login-form button{
    background: #15202b;
    border: none;
}
.dark-mode #login-form button:hover,
.dark-mode #login-form button:focus{
    background: #008B8B;
    cursor: pointer;
    outline: none;
}
.dark-mode #imag-wrapper p{
    color:white
}
.dark-mode #password-reset label{
    color: #FFFFFF;
}
.dark-mode input{
    background: scroll ;
    color: #FFFFFF;
}
.dark-mode #login-form input:not([type='checkbox']){
    border-bottom: 2px solid #15202b;
}


/*=====================================
customize responsiveness
=======================================
*/
@media screen and (max-width: 1060px){
    #imag-wrapper img{
        display: none;
    }
    #login-form-container{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        height:650px;
    }
    main{
        width: 90%;
    }
    #login-form{
        align-self: center;
    }
    #imag-wrapper p{
        align-self: center;
        margin-left: -100px;
    }
}
@media screen and (max-width:530px){
    #login-form input:not([type='checkbox']){
        width:  350px;
    }
    #login-form p{
        font-size: 25px;
    }
    #imag-wrapper p,
    #password-reset{
        font-size: 18px;
    }
}
@media screen and (max-width: 417px){
    #login-form input:not([type='checkbox']){
        width:  250px;
    }
    #imag-wrapper p{
        margin-left: unset;
    }
    main{
        width: 95%;
    }
    #login-form button{
        width: 250px;
        height: 40px;
    }
}
@media screen and (max-width: 320px){
    #login-form input:not([type='checkbox']){
        width:  200px;
    }
    main{
        width: 97%;
    }
    #login-form button{
        width: 250px;
        margin-top: 50px;
    }
    #login-form p{
        font-size: 20px;
    }
}
@media screen and (max-width: 260px){
    #login-form input:not([type='checkbox']){
        width:  150px;
    }
    main{
        width: 98%;
    }
    #login-form button{
        width: 150px;
    }
    #login-form p{
        font-size: 17px;
        padding-top: 25px;
    }
}