/*.........................................
header and footer styles are found in helper.css
*/
body{
    background: #FFFFFF;
}
main{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
#signup-form-container{
    background: white;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-around;
    height:600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px  #15202b;
    margin-top: 50px;
}
#signup-form{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
}
#signup-form p{
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 50px;
    color:#27447e;
}
#signup-form i{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    text-transform: uppercase;
    top: 15px;
    left: 0;
    font-size: 25px;
    color: #27447e;
}
#signup-form div{
    position: relative;
}
#agreement-input span{
    padding-left:10px ;
    font-size: 25px;
}
#agreement-input{
    padding-top: 30px;
}
#signup-form input:not([type='checkbox']){
    height: 40px;
    width: 500px;
    padding-left:30px;  
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: 2px solid #425B8E;;
    margin: 10px 0;
    font-size: 20px;
}
#signup-form input[type='checkbox']{
    height: 20px;
    width: 20px;
}
input:focus{
    outline: none;
}
#signup-form button{
    background: #27447E;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #F5F5F5;
    border: none;
}
#signup-form button:hover,
#signup-form button:focus{
    cursor: pointer;
    outline: none;
    background-color: darkcyan;
    border: 1px solid #f5f5ff;
}
#signup-form a{
    text-decoration: none;
    color: #27447e;
}
#signup-form a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#image-wrapper {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    padding-bottom: 40px;
}
#image-wrapper img{
    width: 200px;
    height: 300px;
    padding-left: 20px;
}
#image-wrapper >p{
    font-size: 25px;
    padding-bottom: 50px;
    padding-right: 10px;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}
#image-wrapper a{
    text-decoration: none;
    color:#27447e;
}
#image-wrapper a:hover{
    text-decoration: underline;
}
#signup-result{
    padding-top: 10px;
    font-size: 17px;
    color: #000000;
    font-family: 'ROBOTO', sans-serif;
}
/*======================================
Style dark mode
====================================
*/
.dark-mode #signup-form-container{
    background: #243447;
}
.dark-mode #signup-form p,
.dark-mode #signup-form a,
.dark-mode #image-wrapper a,
.dark-mode #signup-form i{
    color: #008B8B;
}
.dark-mode #image-wrapper >p,
.dark-mode #agreement-input span{
    color: #FFFFFF;
}
.dark-mode #signup-form button{
    background: #15202b;
    border: none;
}
.dark-mode #signup-form button:hover,
.dark-mode #signup-form button:focus{
    background: #008B8B;
    cursor: pointer;
    outline: none;
}
.dark-mode input{
    background: scroll ;
    color: #FFFFFF;
}
.dark-mode #signup-form input:not([type='checkbox']){
    border-bottom: 2px solid #15202b;
}
.dark-mode #signup-form input[type='checkbox']{
    background:#15202b;
    color: #15202b;
}


/*==========================
customize responsiveness
===========================
*/

@media screen and (max-width:1153px){
    #image-wrapper img{
        display: none;
    }
    #signup-form-container{
        flex-direction: column;
        -ms-flex-direction: column;
        height:670px;
    }
    main{
        width: 90%;
    }
    #image-wrapper{
        align-self: center;
        padding-left: unset;
    }
    #image-wrapper p{
        margin-left: -100px;
    }
    #signup-form{
        align-self: center;
    }
}
@media screen and (max-width: 615px){
    #signup-form input:not([type='checkbox']){
        width: 400px;
    }
    main{
        width: 95%;
    }
    #image-wrapper p{
        margin-left: unset;
    }
}
@media screen and (max-width: 450px){
    #signup-form input:not([type='checkbox']){
        width: 300px;
        font-size: 17px;
    }
    #signup-form p{
        font-size: 20px;
    }
    #agreement-input span{
        font-size: 17px;
    }
    #signup-form input[type='checkbox']{
        height: 15px;
        width: 15px;
    }
    #signup-form i{
        font-size: 20px;
    }
    #image-wrapper >p{
        font-size: 17px;
    }
    #signup-form button{
        width: 250px;
        height: 40px;
    }
}
@media screen and (max-width:345px){
    #signup-form input:not([type='checkbox']){
        width: 250px;
    }
}
@media screen and (max-width: 300px){
    #signup-form input:not([type='checkbox']){
        width: 100%;
    }
    main{
        width: 98%;
    }
    #signup-form button{
        width: 200px;
    }
    #image-wrapper >p{
        padding-left: 10px;
    }
}
@media screen and (max-width: 215px){
    #signup-form button{
        width: 150px;
    }
}